<div class='photo-card'>
  <a href='{{largeImageURL}}'>
    <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' />
  </a>
  <div class='info'>
    <p class='info-item'>
      <b>Likes</b>
      {{Likes}}
    </p>
    <p class='info-item'>
      <b>Views</b>
      {{Views}}
    </p>
    <p class='info-item'>
      <b>Comments</b>
      {{Comments}}
    </p>
    <p class='info-item'>
      <b>Downloads</b>
      {{Downloads}}
    </p>
  </div>
</div>